storageUniversal/Connected Services/SubUserServ/SubUsersServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="createSubUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subUser" type="tns:SubUser" />
            <s:element minOccurs="0" maxOccurs="1" name="UpperUser" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BelongsToUpperUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Compeny" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="createSubUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createSubUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createSubUserSoapIn">
    <wsdl:part name="parameters" element="tns:createSubUser" />
  </wsdl:message>
  <wsdl:message name="createSubUserSoapOut">
    <wsdl:part name="parameters" element="tns:createSubUserResponse" />
  </wsdl:message>
  <wsdl:portType name="SubUsersServSoap">
    <wsdl:operation name="createSubUser">
      <wsdl:input message="tns:createSubUserSoapIn" />
      <wsdl:output message="tns:createSubUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubUsersServSoap" type="tns:SubUsersServSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createSubUser">
      <soap:operation soapAction="http://tempuri.org/createSubUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubUsersServSoap12" type="tns:SubUsersServSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createSubUser">
      <soap12:operation soapAction="http://tempuri.org/createSubUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubUsersServ">
    <wsdl:port name="SubUsersServSoap" binding="tns:SubUsersServSoap">
      <soap:address location="http://localhost:57628/SubUsersServ.asmx" />
    </wsdl:port>
    <wsdl:port name="SubUsersServSoap12" binding="tns:SubUsersServSoap12">
      <soap12:address location="http://localhost:57628/SubUsersServ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>