storageUniversal/Connected Services/BorowwDb/BorowwingsDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcAmountOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcAmountOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcAmountOutResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAmountOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAmountOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAmountOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserAmountOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserAmountOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserAmountOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lentForWho" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="whenBorowwed" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="amountBorowwed" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddLendingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLandings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLandingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLandingsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcAmountOutSoapIn">
    <wsdl:part name="parameters" element="tns:CalcAmountOut" />
  </wsdl:message>
  <wsdl:message name="CalcAmountOutSoapOut">
    <wsdl:part name="parameters" element="tns:CalcAmountOutResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAmountOutSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAmountOut" />
  </wsdl:message>
  <wsdl:message name="UpdateAmountOutSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAmountOutResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAmountOutSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserAmountOut" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAmountOutSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserAmountOutResponse" />
  </wsdl:message>
  <wsdl:message name="AddLendingSoapIn">
    <wsdl:part name="parameters" element="tns:AddLending" />
  </wsdl:message>
  <wsdl:message name="AddLendingSoapOut">
    <wsdl:part name="parameters" element="tns:AddLendingResponse" />
  </wsdl:message>
  <wsdl:message name="GetLandingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLandings" />
  </wsdl:message>
  <wsdl:message name="GetLandingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLandingsResponse" />
  </wsdl:message>
  <wsdl:message name="getNameSoapIn">
    <wsdl:part name="parameters" element="tns:getName" />
  </wsdl:message>
  <wsdl:message name="getNameSoapOut">
    <wsdl:part name="parameters" element="tns:getNameResponse" />
  </wsdl:message>
  <wsdl:portType name="BorowwingsDBSoap">
    <wsdl:operation name="CalcAmountOut">
      <wsdl:input message="tns:CalcAmountOutSoapIn" />
      <wsdl:output message="tns:CalcAmountOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAmountOut">
      <wsdl:input message="tns:UpdateAmountOutSoapIn" />
      <wsdl:output message="tns:UpdateAmountOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAmountOut">
      <wsdl:input message="tns:UpdateUserAmountOutSoapIn" />
      <wsdl:output message="tns:UpdateUserAmountOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLending">
      <wsdl:input message="tns:AddLendingSoapIn" />
      <wsdl:output message="tns:AddLendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLandings">
      <wsdl:input message="tns:GetLandingsSoapIn" />
      <wsdl:output message="tns:GetLandingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input message="tns:getNameSoapIn" />
      <wsdl:output message="tns:getNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BorowwingsDBSoap" type="tns:BorowwingsDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcAmountOut">
      <soap:operation soapAction="http://tempuri.org/CalcAmountOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAmountOut">
      <soap:operation soapAction="http://tempuri.org/UpdateAmountOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAmountOut">
      <soap:operation soapAction="http://tempuri.org/UpdateUserAmountOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLending">
      <soap:operation soapAction="http://tempuri.org/AddLending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandings">
      <soap:operation soapAction="http://tempuri.org/GetLandings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction="http://tempuri.org/getName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BorowwingsDBSoap12" type="tns:BorowwingsDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcAmountOut">
      <soap12:operation soapAction="http://tempuri.org/CalcAmountOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAmountOut">
      <soap12:operation soapAction="http://tempuri.org/UpdateAmountOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAmountOut">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserAmountOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLending">
      <soap12:operation soapAction="http://tempuri.org/AddLending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandings">
      <soap12:operation soapAction="http://tempuri.org/GetLandings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap12:operation soapAction="http://tempuri.org/getName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BorowwingsDB">
    <wsdl:port name="BorowwingsDBSoap" binding="tns:BorowwingsDBSoap">
      <soap:address location="http://localhost:50581/BorowwingsDB.asmx" />
    </wsdl:port>
    <wsdl:port name="BorowwingsDBSoap12" binding="tns:BorowwingsDBSoap12">
      <soap12:address location="http://localhost:50581/BorowwingsDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>